@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Hata</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <div class="error-img">
                                <img src="~/assets/images/error.svg" alt="hata" class="img-fluid" style="max-width: 300px;">
                            </div>
                            <div class="error-heading">
                                <h2 class="headline font-danger">500</h2>
                            </div>
                            <div class="col-md-8 offset-md-2">
                                <p class="sub-content">Üzgünüz, bir hata oluştu. Lütfen daha sonra tekrar deneyin veya yöneticinize başvurun.</p>
                            </div>
                            @if (Model.ShowRequestId)
                            {
                                <div class="col-md-8 offset-md-2 mt-4">
                                    <p class="sub-content">
                                        <strong>İstek ID:</strong> <code>@Model.RequestId</code>
                                    </p>
                                </div>
                            }
                            <div>
                                <a class="btn btn-primary btn-lg mt-3" href="/">Ana Sayfaya Dön</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
