@{
    ViewData["Title"] = "Giriş";
    Layout = "_LayoutLogin";
}

<section>         
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="login-card">
                    <form class="theme-form login-form" method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl">
                        <h4>Giriş</h4>
                        <h6>Hoş geldiniz! Hesabınıza giriş yapın.</h6>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        
                        <div class="form-group">
                            <label>Kullanıcı Adı</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                <input class="form-control" type="text" id="username" name="username" required placeholder="Kullanıcı adınızı girin">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>Şifre</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                <input class="form-control" type="password" id="password" name="password" required placeholder="Şifrenizi girin">
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="checkbox">
                                <input id="rememberMe" type="checkbox" name="rememberMe">
                                <label for="rememberMe">Beni hatırla</label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Giriş Yap</button>
                        </div>
                        
                        <div class="login-social-title">                
                            <h5>Firma Bilgileri</h5>
                        </div>
                        
                        <div class="form-group">
                            <ul class="login-social">
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        
                        @if (ViewBag.EnableRegistration == true)
                        {
                            <p>Hesabınız yok mu? <a class="ms-2" href="@Url.Action("Register", "Account")">Hesap Oluştur</a></p>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> 